build/*
*.csv
compile_commands.json
libs/
.vscode/*
.cache/*
*.ttf
*.ttf:Zone.Identifier
*.csv

build/
compile_commands.json
.venv/

.vscode/
.cache/
*__pycache__/

*.csv

docs/
out/**/*.csv

old/
data/json_corr/

.venv/

old/
out/**/*.csv
